{% extends "bootstrap/base.html" %}

{% block scripts %}
{{super()}}
<script type=text/javascript>

  // constantly refresh player list
  $(document).ready(function () {
    var interval = 1000;   //number of mili seconds between each call
    var refresh = function() {
        $.ajax({
            url: "/playerlist",
            cache: false,
            success: function(html) {
                $('#playerList').html(html);
                setTimeout(function() {
                    refresh();
                }, interval);
            }
        });
    };
  refresh();

  $("#nameInput").val( $("#playerdata").attr("content") )

  $(document).on('click', '.remove_player', function(e) {
    e.preventDefault()
    $.post("removeplayer", {"data" : $(this).attr('href')});
  });

  $("#nameInput").keypress(function (e) {
  if (e.which == 13) {
  e.preventDefault();
  $("#nameBtn").click()}
  });

  $("#nameForm").submit(function(e) {
  e.preventDefault();
  $("#nameBtn").click();
  });
  
  
  $("#nameBtn").click(function(event){
  event.preventDefault();
  $.post("playerjoin", {"data" : $("#nameInput").val()});
  });

  $("#clearPlayersBtn").click(function(event){
  $.post("clearplayers");
  });

  });

  
</script>
{% endblock %}

{% block head %}
{{super()}}
<meta id="playerdata" content="{{ player }}"/>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Fiasco</h1>
  
  <h2>Join Game</h2>
  <form role="form" id="nameForm">
    <div class="form-group">
      <label for="Name">Your Name:</label>
      <input type="text" class="form-control" id="nameInput">
    </div>
    <button type="button" class="btn btn-primary" id="nameBtn">Submit</button>
  </form>

  <h2>Player List</h2>
  <div id="playerList"></div>
  <button type="button" class="btn btn-default" id="clearPlayersBtn">Clear Players</button>
  <br/><br/><br/>
  <form action="play">
    <button type="submit" class="btn btn-primary" id="startBtn">Start Game</button>
  </form>
  <br/>


</div>

{% endblock %}
