{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link href="static/css/play.css" rel="stylesheet">
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript>

  $(document).ready(function () {
    var interval = 1000;   //number of mili seconds between each call
    var refresh = function() {
        $.ajax({
            url: "/get_setup_status",
            cache: false,
            success: function(data) {
                $("#diceFooter").html(data["dice_html"])
                setTimeout(function() {
                    refresh();
                }, interval);
            }
        });
    };
  refresh();
  
// playset buttons added dynamically
//$(document).on('click', '.p_rel_item', function(e) {
//  alert ($(this).attr('data'));
//  });
//});
</script>
{% endblock %}

{% block content %}
<div class="container main_body">
  <h1>Playset: {{ playset_name }}</h1>
  <p>Playing as {{ player }}. <a href="/changeplayer">Change Player</a></p>

  <div id="playsetList">
    {{ playset_html|safe }}
  </div>
  
  <form action="endgame">
    <button type="submit" class="btn btn-default" id="endBtn">End Game</button>
  </form>
  </br>
</div><!-- /container -->


  <div id="diceFooter">
    {{ dice_html|safe }}
  </div><!-- /footer -->

{% endblock %}
