{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link href="static/css/play.css" rel="stylesheet">
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript>

  $(document).ready(function () {
    var interval = 5000;   //number of mili seconds between each call
    var refresh = function() {
        $.ajax({
            url: "/get_setup_status",
            cache: false,
            success: function(data) {
                $("#diceFooter").html(data["dice_html"])
                setTimeout(function() {
                    refresh();
                }, interval);
            }
        });
    };
  refresh();
  
// playset buttons added dynamically
//$(document).on('click', '.p_rel_item', function(e) {
//  alert ($(this).attr('data'));
  //  });

  
  
});
</script>
{% endblock %}

{% block content %}
<div class="container main_body">
  <h1>Playset: {{ playset_name }}</h1>
  <p>Playing as {{ player }}. <a href="/changeplayer">Change Player</a></p>

  <div id="playsetList">
    {{ playset_html|safe }}
  </div>

  <form action="endgame">
    <button type="submit" class="btn btn-default" id="endBtn">End Game</button>
  </form>
  </br>
</div><!-- /container -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Relationship Select</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <fieldset>
            <div class="form-group">
              <h3 id="modal_g1"></h3>
              <label class="control-label">Player:</label>
                <select class="form-control">
                  <option value="1">Daniel (yourself)</option>
                  <option value="2">asdf</option>
                  <option value="3">blah</option>
                </select>
                <br/>
                <h3 id="modal_g2"></h3>
              <label class="control-label">Player:</label>
                <select class="form-control">
                  <option value="1">Daniel (yourself)</option>
                  <option value="2">asdf</option>
                  <option value="3">blah</option>
                </select>
                <br/>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </fieldset>
          </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



  <div id="diceFooter">
    {{ dice_html|safe }}
  </div><!-- /footer -->

{% endblock %}
